.align {
    margin-right: 60px; 
 }
 .background-box{
    color: rgb(214, 214, 214);
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     padding-top: 15px;
     padding-bottom: 20px;
     width: 500px;
     margin-left: 400px;
     margin-right: 400px;
     margin-bottom: 30px;
     background: rgb(14,14,14,0.7);
 background: linear-gradient(90deg, rgba(14,14,14,.7) 0%, rgba(33,33,31,.7) 50%, rgba(13,13,13,.7) 100%);
     border-style:inherit;
     border-radius: 20px;
 }
 .align1{
    font-size: 18px;
    margin-left: -35px;
    margin-right: 40px;
 }
 .align2{
    font-size: 18px;
    margin-left: -36px;
    margin-right: 40px;
 }
 .align3{
    font-size: 18px;
    margin-left: -33px;
    margin-right: 80px;
 }
 .align4{
    font-size: 18px;
    margin-left: -23px;
    margin-right: 100px;
 }
 .align5{
    font-size: 18px;
    margin-left: -76px;
    margin-right: 40px;
 }
 .align6{
    font-size: 18px;
    margin-left: -50px;
    margin-right: 40px;
 }
 .align7{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 40px;
 }
 .details{
   width:160px;
   background: #131419;
   border: none;
   outline: none;
   border-radius: 30px;
   padding: 5px 15px;
    color: #d2b8ca;
   box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0,0,0,0.8);
 }
 [type="radio"]:checked+label:after {
    background-color: red;
    border: 2px solid red;
 }
 h4 {
    overflow: hidden;
    text-align: center;
 }
 h4:before,
 h4:after {
    background-color: #d4d4d4;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
 }
 h4:before {
    right: 0.5em;
    margin-left: -50%;
 }
 h4:after {
    left: 0.5em;
    margin-right: -50%;
 }
 button {
    color: rgba(255, 255, 255, 1);
    width: 6em;
    font-family: font;
    font-weight: 100;
    font-size: 1.75em;
    border: 1px solid rgba(255, 255, 255, .75);
    background: transparent;
    transition: all 200ms ease-in;
    border-radius: .65em;
    cursor:pointer;
    margin-top: 15px;
 }
    
    :hover:focus {
      background: #f8c6c6;
      color: rgb(154, 10, 73);
      border: none;
     
    }
 
 .rating{
    accent-color: rgb(31, 30, 30);
 }
 body{
    background-image: url("https://images-cdn.welcomesoftware.com/Zz0zZTliMjQ4MzhlNGExMWViYmJiMjFiZTI2ZWNmN2MzZA==");
    background-size: cover;
    background-repeat: no-repeat;
 }
 .rate{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
 }
 .m_rating{
    accent-color: rgb(38, 38, 38);
 }

 /* Media query for flexbox layout on smaller screens */
  
  /* CSS for screens smaller than 480px */
  @media only screen and (max-width: 600px) {
    .background-box {
      width: 80%;
      font-style: italic;
      background: rgba(105, 3, 29, 0.7);
      background: linear-gradient(90deg, rgba(119, 5, 68, 0.7) 0%, rgba(88, 3, 63, 0.7) 50%, rgba(105, 5, 52, 0.7) 100%);
      background-image: none;
      background-size: none;

    }
  }
  
  /* CSS for screens smaller than 768px */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .background-box {
      width: 80%;
    }
  }